*{

  size: 20px;
  

}
 
  
  .welcomeText{
    font-size: 10cap;
    padding: 10px;

  }
  /* --------- */
/* Home */
/* --------- */

.welcome {
  
  padding-bottom: 59px;
  padding-left: 10px;
  padding-top: 100px;
 
  background-color: rgb(249, 251, 249);
  background-image: url(../../assets/images/backdrop.png);
  background-Size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: right;

}

.HelloText{
  display: flex;
  font-size: 20px;
  padding: 10px;

  


}


@media(max-width: 800px) {
  .welcomeText{
    display: flex;
    font-size: 30px;
    padding: 10px;
  
    


  }


  
}


@media(max-width: 800px) {
  .HelloText{
    display: fixed;
    font-size: 20px;
    padding: 10px;
  
    


  }
}


.homecard-row{
background-color: #fefdff;



}

.homecard-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;

}

.Home-card-view {
  box-shadow: 0 4px 5px 3px rgba(55, 0, 69, 0.459) !important;
  color: rgb(4, 3, 3) !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.Home-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(236, 88, 88, 0.561) !important;
}




.card-img-top {
  width: 130px;
  height: 120px;
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;


}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #07010d !important;
  border-color: #623686 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}


