.controw{
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    left: auto;
    right: auto;
    text-align: center;
    justify-content: center;
}
.First{
    
    padding-top: 46px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

    color: red;

   
    text-align: center;



}


.Contactheader{
  
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    left: auto;
    right: auto;
    text-align: center;

  

}
