.contact-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
form {
  padding-left: 30px;
  padding-right: 30px;

  padding-top: 30px;
  border-radius: 30px;
  border-radius: 30px;
  height: 500px;
  background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    padding: auto;
  }
  


 

