


.Abouthead{
  padding-top: 34px;
  
 text-align: center;
  color: rgb(2, 18, 13);
  font-size: 40px;

  /* flex-direction: column; */
  


}

.Aboutcontainer{
color: #000;



}

.quote-card-view {
  border: none !important;
  color: rgb(36, 14, 14) !important;
  background-color: transparent !important;
}


.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (min-width: 415px) {
  .Abouthead {
    flex-direction: row;
  
  }
}
