.Abouthead {
  padding-top: 44px;

  text-align: center;
  color: rgb(2, 18, 13);
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;

  /* flex-direction: column; */
}
.quote-card-view{
align-content: center;
content: center;
justify-items: center;
border-color: rgb(230, 180, 19);
border-radius: 30px;


  background-color: transparent;
}
.blockquote{

  
  text-align:center;
  color:rgb(0, 4, 4);






}
.about-section{
  color: #000000;
  margin-left: 0;
  margin-right: 0; 
  flex-wrap: wrap;


}

.aboutbio {
  justify-content: center;
  display: flex;
  background-color: rgb(236, 236, 232);
  position: block;
  left: auto;
  right: auto;
  align-items: center;
}
.Aboutcontainer {
  color: #000000;
  text-align: center;
  margin-left: 0;
  margin-right: 0; 
  flex-wrap: wrap;


}

.aboutbio{
  color: #000000;
  background-color: wheat;
  margin: 0;
  border-radius: 30px;
}
.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (min-width: 415px) {
  .Abouthead {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0; 
  }
}



@media (min-width: 415px) {
.Aboutcontainer  {
  flex-direction: row;
  margin: 0.0px;
}
}




@media (min-width: 415px) {
  .aboutbio  {
    flex-direction: row;
    margin: 0px;
  }
  }
  